.jumbotron {

    background-color: #F8FEFF;

}

.navbar {

    background-color: #49C5B6 !important;
    color: #FFFFFF !important;
}

.nav-link {
    color: #FFFFFF !important;
}

.navbar-brand {
    color: #FFFFFF !important;
}

.btn {
    background-color: #49C5B6 !important;

}